{# {% for letter in posts %}
  {% for post in letter %}
    <li><a href="{{ post.link }}">{{ post.title }}</a></li>
  {% endfor %}
{% endfor %}

{% for cat in cats %}
    {{cat.title}}
    {{cat.description}}
    {% for product in cat.products %}
         {{product.title}}
    {% endfor %}
{% endfor %} #}



{# {% for letter in posts_by_letter %}
  {% for post in letter %}
    <li><a href="{{ post.link }}">{{ post.title }}</a></li>
  {% endfor %}
{% endfor %} #}
{% for post in posts %}
    <div class="contact-image">
        <img src="{{ Image(p.meta('image')).src }}" alt="{{ Image(p.meta('image')).alt }}" />
    </div>
    <div class="form">
        {{post.content}}
    </div>
{% endfor %}


{# {% for post in posts %}
    <h2>{{post.thumbnail}}</h2>
    <p>{{post.content}}</p>
{% endfor %} #}